<nav class="navbar navbar-light bg-light">
  <b>
      <span class="navbar-brand mb-0 h1" id='name'>{{title}}</span>
  </b>

  <span class="navBtn">
    <button class="btn" (click)='pushUrl("/home")'>Me</button>
    <button class="btn" (click)='pushUrl("/works")'>Works</button>
    <button class="btn" (click)='pushUrl("/blogs")'>blogs</button>
  </span>
</nav>
<router-outlet></router-outlet>
<!-- <app-foot></app-foot> -->

<!-- <footer>
  <p>Designed & Developed by Manoj Kumar</p>
</footer> -->

