/* You can add global styles to this file, and also import other style files */
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

@font-face{
    font-family: 'google-sans';
    src:url('../src/assets/Fonts/GoogleSans-Regular.ttf')
}

@font-face {
    font-family: 'Google-sans';
    src: url('../src/assets/Fonts/GoogleSans-Regular.ttf') format('truetype');
}

* {
    font-family: 'Google-Sans';
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #616161; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

