<div class="container">
  <div class="row">
    <div class="col-sm-4" id="left">
      <img src="../../assets/Images/manoj.png" height="500px" width="400px">
    </div>
    <div class="col-sm-8" id="right" style="padding-top: 85px;padding-left: 30px; ">
      <p style="font-size: 42px;color: #616161;">
        <img src="../../assets/Icons/keyboard_arrow_right_black_36dp.png" style="padding-bottom: 10px;">
        Hallo!
        <img src="../../assets/Icons/keyboard_arrow_left_black_36dp.png" style="padding-bottom: 10px;">
      </p>
      <b style="font-size: 42px;color: #616161;padding-left: 30px;">I'm <span id="name">Manoj Kumar.</span></b>
      <p style="font-size: 38px;color: #616161;padding-left: 30px;">
        Software Engineer
        
      </p>
      <p style="font-size: 38px;color: #616161;padding-left: 30px;">Tech Enthusiast</p>
      <p style="color: rgb(26, 115, 232); font-size: 17px;padding-left: 30px;">
        <b>
          Always eager to learn new technologies and look to solve real world problems.
          <img src="../../assets/Icons/icon-media.svg" style="padding-bottom: 10px;">
        </b>
      </p>
      <div class="btn-group" role="group">        
        <button type="button" class="btn" style="color: #616161">
          <a href="https://github.com/manojvirat457">
            <img src="../../assets/companyLogo/github.png" alt="github" height="30px" width="30px">
          </a>
        </button>
        
        <button type="button" class="btn" style="color: #616161">
          <a href="https://medium.com/@manojvirat457">
            <img src="../../assets/companyLogo/medium.png" alt="medium" height="30px" width="30px">
          </a>
        </button>       
        <button type="button" class="btn" style="color: #616161">
            <a href="https://www.instagram.com/im_manoj.18">
              <img src="../../assets/companyLogo/insta.png" alt="instagram" height="30px" width="30px">
            </a>
          </button>
          <button type="button" class="btn" style="color: #616161">
            <a href="https://www.facebook.com/manoj.virat.501">
              <img src="../../assets/companyLogo/fb.png" alt="facebook" height="30px" width="30px">
            </a>
          </button>
  
          <button type="button" class="btn" style="color: #616161">
            <a href="https://medium.com/py-bits">
              <img src="../../assets/Icons/icon-healthcare.svg"   height="30px" width="30px">
            </a>
          </button>

          <button type="button" class="btn" style="color: #616161">
            <a href="https://www.linkedin.com/in/manoj-kumar-thangadurai/">
              <img src="../../assets/Logos/linkedIn.png"   height="30px" width="30px">
            </a>
          </button>
      </div>
    </div>
    
  </div>
</div>
