.working {
    text-align: center;
}
#bg {
    background-image: url('../../assets/companyLogo/moneyC.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-image: url('../../assets/companyLogo/gallery.png');
    border-radius: 15px;
}
.contentArea {
    padding: 10px;
}
.imageArea {
    padding-top: 10px;
    padding-left: 30px;
}
.centerContainer {
    width: 100%;
    width: 100%;
}

.card1 {
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.row {
    height: 100%;
    width: 100%;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container {
    padding: 2px 16px;
    height: 100%;
    width: 100%;
}

.btn {
    width: 100%;
}