<div class="container" id="bg">
  <b style="font-size: 42px;color: #616161" class="working">
    I'm Working on,
  </b>
  <p style="font-size: 20px;" >
    Thinking out of the box is what I believe in doing. I believe learning is a process that never stops, even though
    you may become old enough there are things that you can still learn.A simple nature and simple choices, dream of the
    stars with feet on the ground. This is what I think and with the same in my heart, I am marching towards my goal.
  </p>
  <div class="container" id = "centerContainer">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="column">
            <div class="imageArea">
              <img src="../../assets/companyLogo/code.png" alt="code">
            </div>
            <hr>
            <div class="contentArea">
              <h4 style="font-size: 18px;">
                I Strongly believe in hands-on practices. So I code and compile every time, When I learning any new thing.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="column">
            <div class="imageArea">
              <img src="../../assets/companyLogo/grow.png" alt="code">
            </div>
            <hr>
            <div class="contentArea">
              <h4 style="font-size: 18px;">
                I wish that, what ever I touch it turns to gold. Such a way my progress always looks for growth. So I always like real world problems to solve.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="column">
            <div class="imageArea">
              <img src="../../assets/companyLogo/performance.png" alt="code">
            </div>
            <hr>
            <div class="contentArea">
              <h4 style="font-size: 18px;">
                Every code, one day turn up to Apps. I really mean this thought every single character I type. And I really want my code to perform well.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"   style="padding-top: 50px;" >
    <div class="row">
      <div class="col-sm-2">
        <img src="../../assets/Logos/android.png" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/swift.png" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/angular-icon.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/flutter.png" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/firebase.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/php.svg" alt="android" height="100px">
      </div>
    </div>

  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-sm-2">
        <img src="../../assets/Logos/bootstrap.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/css3.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/python.png" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/google-cloud.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/html-5.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/Logos/javascript.svg" alt="android" height="100px">
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/Logos/mongodb.svg" alt="android" height="100px">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/Logos/nodejs.svg" alt="android" height="100px">
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="container" style="width: 100%;padding-bottom: 20px;padding-top: 30px;">
  <b style="font-size: 42px; color: #616161">
    /> Work Experience
  </b>
  <hr>
  <div class="card">
    <img src="../../assets/Logos/shlok.png" alt="Avatar" style="height:100px" width="300px">
    <div class="card_container">
      <h4><b>SHLOKLABS</b></h4>
      <p>Software Engineer 2018 ~ present</p>
      <hr>
      <b>\> Worked In,</b>
      <p>
        C#, VB.NET, Python, ML, iOS
      </p>
    </div>
  </div>
</div>
<div class="container" style="width: 100%;padding-bottom: 20px;padding-top: 30px;">
  <b style="font-size: 42px; color: #616161">
    /> Projects
  </b>
  <hr>
  <div class="card1">
    <div class="card_container">
      <h4><b style="color: rgb(26, 115, 232);text-align: center;width: 100%; font-size: 30px;">HyperTech Analytica</b>
      </h4>
      <p>A Template for an Analytics Startup</p>
      <hr>
      <b style="font-size: 22px;">\>Description,</b>
      <p>The motive of this website is to get hands-on experience on web development area.</p>
      <hr>
      <b style="font-size: 22px;">\> Tech Used,</b>
      <p>
        Html, CSS, JS, Google-Cloud
      </p>
      <hr>
      <a href="https://hypertech-analytica.web.app">
        <button class="btn btn-primary">Visit site</button>
      </a>
    </div>
  </div>
  <hr>
  <div class="card1">
    <div class="card_container">
      <h4>
        <b style="color: rgb(26, 115, 232);text-align: center;width: 100%; font-size: 30px;">
          D~Creations
        </b>
      </h4>
      <p>A Simple try on Progressive Web App Development</p>
      <hr>
      <b style="font-size: 22px;">\>Description,</b>
      <p>The motive of this website is to make my fellow students, to get into Tech in college.</p>
      <hr>
      <b style="font-size: 22px;">\> Tech Used,</b>
      <p>
        Html, CSS, JS, Google-Cloud-Hosting, PWA
      </p>
      <hr>
      <a href="https://D-Creations.web.app">
        <button class="btn btn-primary">Visit site</button>
      </a>
    </div>
  </div>
  <hr>
  <div class="card1">
    <div class="card_container">
      <h4>
        <b style="color: rgb(26, 115, 232);text-align: center;width: 100%; font-size: 30px;">
          Ad-Zone
        </b>
      </h4>
      <p>A Basic App to understand the working and project structure in Angular</p>
      <hr>
      <b style="font-size: 22px;">\>Description,</b>
      <p>The motive of this website is to solve the advertising platform accessible to the local buisness.</p>
      <hr>
      <b style="font-size: 22px;">\> Tech Used,</b>
      <p>
        Angular, Google-Cloud-Hosting
      </p>
      <hr>
      <a href="http://build4billions.team">
        <button class="btn btn-primary">Visit site</button>
      </a>
    </div>
  </div>
</div>